@import '../../assets/styles/colors';

.main-title {
  margin: 5px 0;
}

.dishes-list,
.categories-list {
  list-style-type: none;
}

.category {
  margin-top: 20px;
}

.category-name {
  margin: 5px 0;
  color: #41d28d;
}

.dish {
  display: flex;
  flex-direction: space-between;
}

.dots {
  flex: 1;
  border-bottom: 2px dotted $mainFont;
  margin: 3px 5px;
}