.restaurant-picture {
  width: 100%;
  z-index: -1;
}

.restaurant-info-content {
  background-color: white;
  padding: 40px;
  border-radius: 20px 20px 0 0;
  border: 1px solid #BBBBBB;
  position: relative;
  top: -20px;
  min-height: 100vh;

  & > div:not(:last-child) {
    margin-bottom: 20px;
  }
}