@import './assets/styles/colors';
@import './assets/styles/sizes';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  color: $mainFont;
}

.leaflet-container {
  width: 100%;
  height: calc(100vh - #{$navbarHeight});
}

.map-page {
  position: relative;
}

.absolute-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: calc(100vh - 60px);
}
